body {
	background-color: #fafafa;
	width: 80%;
	margin-left: auto;
	margin-right: auto;
}
.topbar{
	    width: 100%;
  float: left;
  height: 55px;
  background-color: #AACD4B;
  margin-bottom: 35px;
  position: absolute;
  top: 0;
  left: 0;
}
a.resume{
	color: #62bb0c;
}
p.name{
	text-align: center;
  line-height: 2px;
  color: #fff;
  font-weight: 300;
}
.wrapper {
	background-color: #AACD4B;
	height: 130px;
	top: 0;
	list-style-type: none;
	width: 101%;
/*	text-align: center;
*/	margin-top: -10px;
	margin-left: -10px;
	padding-right: 10px;
}
#about{
	margin-top: 90px;
}
.captioncontainer {
	width: 25%;
	margin-top: 0px;
	float: left;
	margin-bottom: 20px;
}
.large{
	width: 50%;
}

#name {
height: 10%;
width: 60%;
margin-left: 20%;
margin-right: 15%;
position: absolute;
background-color: #AACD4B;
}

@font-face {
  font-family: 'FontAwesome';
  src: url('../fonts/fontawesome-webfont.eot?v=4.0.3');
  src: url('../fonts/fontawesome-webfont.eot?#iefix&v=4.0.3') format('embedded-opentype'), url('../fonts/fontawesome-webfont.woff?v=4.0.3') format('woff'), url('../fonts/fontawesome-webfont.ttf?v=4.0.3') format('truetype'), url('../fonts/fontawesome-webfont.svg?v=4.0.3#fontawesomeregular') format('svg');
  font-weight: normal;
  font-style: normal;
}

.panel {
	width: 30%;
	height: auto;
	margin-right: 1%;
	border: 1px solid #ccc;
	margin-bottom: 10px;
}


p {
font-family: 'Source Sans Pro', sans-serif;
font-size: 2em;
margin-top: 1.6%;
color: #424242;
text-transform: none;
text-align: left;
padding-left: 2%;
padding-right: 2%;
}
p.header{
	text-align: center;
}
p.title {
	font-family: 'Source Sans Pro', sans-serif;
	font-weight: 100;
	color: #fff;
}
p.header:hover{
	color: #AACD4B;
}

img {
	margin-bottom: 1%;
}

img.nbn {
	width: 22%;
	margin-right: 1%;
	border: 1px solid #ccc;
	margin-bottom: 10px;
	display: inline-block;
}

img.patch {
	height: 13em;
	margin-right: 1%;
	border: 1px solid #ccc;
	margin-bottom: 10px;
	display: inline-block;
}
img.musac {
	width: 30%;
	margin-bottom: 10px;
}
img.wapo {
	width: 18%;
	margin-right: 1%;
	border: 1px solid #ccc;
	margin-bottom: 10px;
}

img.online {
	width: 95%;
	border: 1px solid #d6d6d6;
}

img:hover{
	opacity: 0.7;
}
span.sandbox {
	font-size: 0.8em;
}

.imagecontainer {
	margin: 0 auto;
	width: 90%;
}

#onlinecontainer {
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 15px;
	width: 90%; 
}

#graphiccontainer {
	margin: 0 auto;
	width: 70%;
}
.pubcontainer{
	clear: both;
}
.captioncontainer p{
	  font-size: 14pt;
  font-weight: 400;
  line-height: 24px;
  text-align: center;
  margin-top: 4px;
  margin-left: -20px;

}
p.text{
	font-family: 'Source Sans Pro', sans-serif;
	font-size: 15pt;
	font-weight: 300;
	line-height: 33px; 
	margin-top: 1%; 
	text-align: center;
}


.resume {
	width: 80%;
	
	margin-left: auto;
	margin-right: auto;
}
.resume p.publication{
	  text-align: left;
  width: 100%;
}

.resume p{
  font-family: 'Source Sans Pro', sans-serif;
  text-align: left;
  width: 100%;
}
p.resume{
	font-size: 14pt;
	font-weight: 200;
	line-height: 30px; 
}
p.resume-date{
  /* width: 80%; */
  font-size: 0.9em;
  font-weight: 400;
  /* margin-left: 5em; */
  margin: 1em 0em 3em 0em;
}
p.publication {
  text-align: center;
/*  border-bottom: 2px solid #A2F452;
*/  width: 60%;
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 21pt;
  padding-bottom: 3px;
  font-weight: 300;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 20px;
  margin-top: 20px;
}
.divider{
width: 30%;
  margin-top: 20px;
  margin-left: auto;
  margin-right: auto;
  border-bottom: 2px dashed #A2F452;
}
i {
	font-size: 22pt;
	margin-top: 15px;
	margin-right: 10px;
	color: #606060;
	margin-top: 10px;
	  margin-top: 30px;
  margin-bottom: 12px;
}
#graphic .imagecontainer{
	width: 80%;
	text-align: center;
}
i:hover{
	color: #AACD4B;
	cursor: pointer;
}
a{
	text-decoration: none;
}
a:hover {
	color: #AACD4B!important;
}
.captioncontainer p:hover {
	color: #AACD4B!important;
}
a:visited {
	color:#424242;
	text-decoration: none;
}


/*ACCORDION STYLING*/

#accordion {
	margin-top: 10px;
}
div.accordion-content, .ui-accordion-content, .ui-helper-reset, .ui-widget-content, .ui-corner-bottom, .ui-accordion-content-active {
border: 0px solid #aaaaaa;
background: #f7f7f7;
color: #424242;
height: auto;
}

h3:hover {
color: #000eee;
}

.accordion-content{
border: 0px solid;
background: #f7f7f7;
color: #222222;
}

.ui-icon {
display: none;
text-indent: -99999px;
overflow: hidden;
background-repeat: no-repeat;
}

.ui-state-active .ui-icon {
background-image: none;
}

.ui-accordion .ui-accordion-icons {
padding-left: 0;
}
/*! jQuery UI - v1.10.3 - 2013-05-03
* http://jqueryui.com
* Includes: jquery.ui.core.css, jquery.ui.accordion.css, jquery.ui.autocomplete.css, jquery.ui.button.css, jquery.ui.datepicker.css, jquery.ui.dialog.css, jquery.ui.menu.css, jquery.ui.progressbar.css, jquery.ui.resizable.css, jquery.ui.selectable.css, jquery.ui.slider.css, jquery.ui.spinner.css, jquery.ui.tabs.css, jquery.ui.tooltip.css
* To view and modify this theme, visit http://jqueryui.com/themeroller/?ffDefault=Verdana%2CArial%2Csans-serif&fwDefault=normal&fsDefault=1.1em&cornerRadius=4px&bgColorHeader=cccccc&bgTextureHeader=highlight_soft&bgImgOpacityHeader=75&borderColorHeader=aaaaaa&fcHeader=222222&iconColorHeader=222222&bgColorContent=ffffff&bgTextureContent=flat&bgImgOpacityContent=75&borderColorContent=aaaaaa&fcContent=222222&iconColorContent=222222&bgColorDefault=e6e6e6&bgTextureDefault=glass&bgImgOpacityDefault=75&borderColorDefault=d3d3d3&fcDefault=555555&iconColorDefault=888888&bgColorHover=dadada&bgTextureHover=glass&bgImgOpacityHover=75&borderColorHover=999999&fcHover=212121&iconColorHover=454545&bgColorActive=ffffff&bgTextureActive=glass&bgImgOpacityActive=65&borderColorActive=aaaaaa&fcActive=212121&iconColorActive=454545&bgColorHighlight=fbf9ee&bgTextureHighlight=glass&bgImgOpacityHighlight=55&borderColorHighlight=fcefa1&fcHighlight=363636&iconColorHighlight=2e83ff&bgColorError=fef1ec&bgTextureError=glass&bgImgOpacityError=95&borderColorError=cd0a0a&fcError=cd0a0a&iconColorError=cd0a0a&bgColorOverlay=aaaaaa&bgTextureOverlay=flat&bgImgOpacityOverlay=0&opacityOverlay=30&bgColorShadow=aaaaaa&bgTextureShadow=flat&bgImgOpacityShadow=0&opacityShadow=30&thicknessShadow=8px&offsetTopShadow=-8px&offsetLeftShadow=-8px&cornerRadiusShadow=8px
* Copyright 2013 jQuery Foundation and other contributors Licensed MIT */

/* Layout helpers
----------------------------------*/

/*MEDIA QUERIES*/

@media (min-width: 1600px) {
	.imagecontainer {
		width: 65%;
	}
	#graphiccontainer {
		width: 60%;
	}
}
@media (max-width: 1420px) {
	.imagecontainer {
		width: 75%;
	}
	img.patch {
		height: 12em;
	}

}


@media (max-width: 1280px) {
	.imagecontainer {
		width: 80%;
	}
	img.patch {
		height: 11em;
	}

}

@media (max-width: 1152px) {
  p {
    font-size: 4em; 	
    margin-top: 5%;
  }

  #name {
  	margin-left: 10%;
  	margin-right: 5%;
  	width: 75%;
  }

  p {
  	margin-top: 3.5%;
  }

  .imagecontainer {
  	width: 90%;

  }

  #graphiccontainer {
  	width: 60%;
  }

  }

  @media (max-width: 1080px) {
  p {
    font-size: 2em; 	
    margin-top: 5%;
  }

  #name {
  	margin-left: 10%;
  	margin-right: 5%;
  	width: 75%;
  }

  p {
  	margin-top: 3.5%;
  }

  .imagecontainer {
  	width: 100%;

  }

  #patch {
  	width: 100%;
  }

img.patch {
	height: 13.5em;
}
  .captioncontainer {
  	width: 50%;

  }
}

@media (max-width: 1060px) {
	img.patch {
		height: 12.5em;
	}

  }

@media (max-width: 989px) {
	img.patch {
		height: 11.5em;
	}

  }

 @media (max-width: 927px) {
 	img.patch {
 		height: 10em;
 	}

  }

@media (max-width: 811px) {
 	img.patch {
 		height: 9em;
 	}

  }
  @media (max-width: 768px) {
  p {
    font-size: 2em; 	
    margin-top: 7%;
  }	

  /*img.nbn {
  	height: 50%;
  	margin-right: 5px;
  }*/

  img.wapo {
  	width: 30%;
  	height: auto;
  }

  .resume {
		width: 100%;
	}

  #name {
  	margin-left: 5%;
  	margin-right: 5%;
  	width: 85%;
  }

  .imagecontainer {
  	width: 91%;
  }

  #onlinecontainer {
  	width: 100%;
  }

  #graphiccontainer {
  	width: 100%;
  }

  img.patch {
  	height: 8em;
  }

}


@media (max-width: 650px) {


		img.wapo {
			width: 45%;
		}

		img.patch {
			height: 7em;
		}
}

@media (max-width: 650px) {

		img.patch {
			height: 6em;
		}
}

@media (max-width: 550px) {
	#patch {
		width: 100%;
	}

	img.musac {
	width: 100%;
	}

	img.patch {
		width: 100%;
		height: auto;
	}

}  
@media (max-width: 480px) {	

  p {
    font-size: 1.7em; 	
    margin-top: 5%;
  }

  #name {
  	margin-left: 5%;
  	margin-right: 5%;
  	width: 85%;
  }
img.nbn {
  	width: 45%;
  	height: auto
  }
.captioncontainer {
	margin: 15px;
	width: 80%;
}

 }

@media screen and (max-width: 400px) {

img.online {
	margin-left: 0em;
	width: 100%;
	}

.imagecontainer {
	width: 100%;
}

img.wapo {
	width: 100%;
}

.captioncontainer {
	margin-left: 0;
	width: 100%;
	}

.panel {
	width: 90%;
	height: auto;
	margin: 0 auto;
 }

}

@media screen (max-width: 320px) {
	img {
		margin: 0 auto;
	}

}

