h1 {
	font-family: 'Bitter', serif;
	font-weight: 700;
	font-size: 3em;
	text-align: center;
	margin-top: 5%;
	margin-bottom: 5%;
}

p, td.rtAlign {
	font-family: 'Bitter', serif;
	font-weight: 400;
	margin: 0 auto;
	text-align: center;
}

body {
	background-color: #fafafa;
}

input {
width: 34em;
height: 2em;
display: block;
margin: 0 auto;
}

img {
	width: 250px;
	display: block;
    margin: 2em auto 2em auto;
}


tr {
	text-align: center;
}

table {
	margin: 0 auto;
}

p {
	line-height: 1.3em;
}

footer {
position: absolute;
bottom: 0px;
left: 20%;
right: 20%;
}

.tryanother {
	cursor: pointer;
}

a {
	color: #4F4F4F;
}

a:visited {
	color: #7A7A7A;
}

p#msgField {
	margin-top: 2em;
}


@media (max-width: 400px) {
	input {
		width: 17em;
	}
	h1 {
		font-size: 1.5em;
		margin-left: 5%;
		margin-right: 5%;
	}

	footer {
		display: none;
	}
}